{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'stock/css/styles.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.2.1/css/all.css">

</head>
<body>
    <aside>
        <img src="{% static 'stock/images/dacha7.jpg' %}" class="image">
        <span class = "logo">Склад</span>
        <h3>Навигация</h3>
        <ul>
            <a href=""><li><i class="fa-solid fa-house"></i>Главная</li></a>


            {% for m in menu %}
                {% if not forloop.last %}
                    <li><i class="fa-solid fa-house"></i><a href={% url m.url_name %}>{{m.title}}</a>  </li>
                {% else %}
                    <li class = 'last'><i class="fa-solid fa-house"></i><a href={% url m.url_name %}>{{m.title}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </aside>
{% block mainmenu %}

    <div class="header">
        <ul id="mainmenu" class="mainmenu">
        <li class="logo"><a href="{% url 'home' %}"><div class="logo"></div></a></li>
        </ul>
    </div>
{% endblock mainmenu %}

{% block content %}
{% endblock content %}
</body>
</html>